@model SignInViewModel

<form id="loginForm" method="POST" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    @if (!Model.IsModelValid)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
    }
    <div class="mb-3">
        <label asp-for="@Model.UserName" class="form-label"></label>
        <input asp-for="@Model.UserName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password" class="form-label"></label>
        <input asp-for="@Model.Password" class="form-control" required />
    </div>
    <div class="mb-3">
        <input asp-for="@Model.IsPersistent" class="form-check-input" />
        <label class="form-check-label" asp-for="@Model.IsPersistent">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 text-light mt-2" id="loginBtn">Sign In</button>
</form>