@model IEnumerable<Homework.Data.Entities.Category>
@{
    ViewData["Title"] = "List";
}

<div id="body" class="container-fluid">
    <div class="row">
        <a class="btn btn-success flex-grow-1" asp-action="Create">Create New</a>
    </div>
    <div class="row">
        <table class="table flex-grow-1 flex-shrink-0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentCategory)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitName)
                        </td>
                        <td>
                            @if (item.ParentCategory is not null)
                            {
                                @Html.DisplayFor(modelItem => item.ParentCategory.Name)
                            }
                            else
                            {
                                <p>No parent category</p>
                            }
                        </td>
                        <td>
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-sm rounded-0" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-warning btn-sm rounded-0" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-danger btn-sm rounded-0" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>